
* { box-sizing: border-box; margin:0; padding:0; font-family: Arial, sans-serif; }
body, html { width:100%; height:100%; overflow:hidden; }

.screen {
  width:100%;
  height:100%;
  display:none;
  background-size:cover;
  background-position:center;
  justify-content:center;
  align-items:center;
}

.active { display:flex; }

.intro-box {
  background:rgba(0,0,0,0.4);
  padding:20px;
  border-radius:12px;
  color:white;
  text-align:center;
}

.intro-box button {
  margin-top:15px;
  padding:12px 20px;
  font-size:16px;
  border:none;
  border-radius:8px;
  background:#ff8c42;
  color:white;
}

#mediaContainer img,
#mediaContainer video {
  max-width: 80%;
  max-height: 60vh;
  border-radius: 12px;
}


#slideshow {
  flex-direction:column;
  background:black;
}

.caption {
  color:white;
  padding:15px;
  text-align:center;
}

.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}


.controls button {
  padding:10px 15px;
  font-size:18px;
}

#envelopeScreen {
  flex-direction:column;
}

#envelope {
  width:220px;
  cursor:pointer;
}

#letter {
  display:none;
  background:white;
  padding:20px;
  margin:20px;
  border-radius:10px;
  max-width:90%;
}
